meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
link(href='index.css', rel='stylesheet')
head
  h1 Developer of Sports
    .button.btn.btn-primary.btn-md.scrollable(type='button', href='footer') Contact
    .button.btn.btn-primary.btn-md.scrollable(type='button', href='#kayaking.sec') Kayaking
    .button.btn.btn-primary.btn-md.scrollable(type='button', href='#skydiving.sec') Sky Diving
    .button.btn.btn-primary.btn-md.scrollable(type='button', href='#surfing.sec') Surfing
    .button.btn.btn-primary.btn-md.scrollable(type='button', href='#mountainbiking') Mountain Biking
    
body
  #mountainbiking.sec   
    #content.left Mountain biking is the sport of riding bicycles off-road, often over rough terrain, using specially designed mountain bikes. Mountain bikes share similarities with other bikes, but incorporate features designed to enhance durability and performance in rough terrain. Mountain biking can generally be broken down into multiple categories: cross country, trail riding, all mountain (also referred to as "Enduro"), downhill, freeride and dirt jumping. However, the majority of mountain biking falls into the categories of Trail and Cross Country riding styles. 
  #surfing.sec
    #content.right Surfing is a surface water sport in which the wave rider, referred to as a surfer, rides on the forward or deep face of a moving wave, which is usually carrying the surfer towards the shore. Waves suitable for surfing are primarily found in the ocean, but can also be found in lakes or in rivers in the form of a standing wave or tidal bore. However, surfers can also utilize artificial waves such as those from boat wakes and the waves created in artificial wave pools.
  #skydiving.sec
    #content.left Parachuting, or skydiving, is a method of transiting from a high point to Earth with the aid of gravity, involving the control of speed during the descent with the use of a parachute. It may involve more or less free-fall, a time during which the parachute has not been deployed and the body gradually accelerates to terminal velocity.
  #kayaking.sec
    #content.right Kayaking is the use of a kayak for moving across water. It is distinguished from canoeing by the sitting position of the paddler and the number of blades on the paddle. A kayak is a low-to-the-water, canoe-like boat in which the paddler sits facing forward, legs in front, using a double-bladed paddle to pull front-to-back on one side and then the other in rotation. Most kayaks have closed decks, although sit-on-top and inflatable kayaks are growing in popularity as well.
footer
  ul
    a.button.social.fa.fa-fw.fa-linkedin(href='https://www.linkedin.com/in/mrdavidrobison') LinkedIn
    
  ul
    a.button.social.fa.fa-fw.fa-github(href='https://github.com/mrdavidrobison') Github
    
  ul
    a.button.social.fa.fa-fw.fa-twitter(href='https://freecodecamp.com') FreeCodeCamp
    
  ul
    a.button.social.fa.fa-tw.fa-youtube(href="https://www.youtube.com") Youtube
    
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
  script(type='text/javascript', src='index.js')